@media screen and (max-width: 500px) {
  body {
      font-size: 18px;
      background-image: url("crosses sunset.jpg");
  }

  ul {
      text-align: center;
      width: 25%!important;
  }

  button.dropbtn {
    width: 25%!important;
    }

    li.menuitem {
      width: 13%!important;
    }

    #homedec {
      width: 13%!important;
    }

  .nav .current {
      text-align: center;
      width: 25%!important;
  }



@media screen and (max-width: 768px) {

  body {
      background-image: url("crosses sunset.jpg");
  }

  ul {
      text-align: center;
      width: 50%!important;
  }

  .nav .current {
      text-align: center;
      width: 50%!important;
  }

  li.menuitem {
    width: 13%!important;
  }

  #homedec {
    width: 13%!important;
  }




@media screen and (max-width: 1200px) {

  body {
      background-image: url("crosses sunset.jpg");
  }

  ul {
      text-align: center;
      width: 100%!important;
  }

  .nav .current {
      text-align: center;
      width: 100%!important;
  }
