@media screen and (max-width: 500px) {
  body {
      font-size: 18px;
      background-image: url("crosses sunset.jpg");
  }

  nav ul li {
      text-align: center;
      width: 100%!important;
  }

  .nav .current {
      text-align: center;
      width: 100%!important;
  }



@media screen and (max-width: 768px) {

  body {
      background-image: url("crosses sunset.jpg");
  }

  nav ul li {
      text-align: center;
      width: 100%!important;
  }

  .nav .current {
      text-align: center;
      width: 100%!important;
  }




@media screen and (max-width: 1200px) {

  body {
      background-image: url("crosses sunset.jpg");
  }
  
  nav ul li {
      text-align: center;
      width: 100%!important;
  }

  .nav .current {
      text-align: center;
      width: 100%!important;
  }
